<md-toolbar class="md-whiteframe-5dp">
    <div class="md-toolbar-tools">
        <md-button id="menu-button"
                   class="md-icon-button"
                   aria-label="more_vert"
                   ng-click="main.toggleLeft()">
            <ng-md-icon icon="reorder"></ng-md-icon>
        </md-button>
        <h1> GitHub Users </h1>
    </div>
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Repositories of the user {{reposListCtrl.user}}</h2>
    </div>
</md-toolbar>
<md-content class="md-padding" layout="row" layout-wrap>
    <div flex="25" ng-repeat="repo in reposListCtrl.repos">
        <md-card style="height: 300px;">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">
                        <md-button class="md-primary md-truncate" ng-href="{{repo.html_url}}"
                                                      target="_blank">
                            Go to repositorie
                        </md-button>
                    </span>
                    <span class="md-headline">{{ repo.name }}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="card-repo">
                <p ng-if="!repo.description">
                    Description not available
                </p>
                <p ng-if="repo.description">
                    {{ repo.description }}
                </p>
                <p>Issues: {{ repo.open_issues }}</p>
                <p>Open Issues: {{ repo.open_issues }}</p>
                <p>Forks: {{ repo.forks }}</p>
            </md-card-content>
        </md-card>
    </div>
    <div flex="20" layout="row">
        <md-button class="md-raised md-primary" flex
                   ng-click="reposListCtrl.previousPage()"> Previous page </md-button>
        <md-button class="md-raised md-primary" flex
                   ng-click="reposListCtrl.nextPage()"> Next page </md-button>
    </div>
</md-content>
